@charset "UTF-8";
$primary-color: #9900CC !default;
.ng-audio-container {
  display: none;
  width: 520px;
  top: auto;
  bottom: 0;
  left: 60px;
  right: auto;
  position: fixed;
  z-index: 1051;
  background-color: #fff;

  .dialog-header {
    display: block;
    height: 36px;
    line-height: 36px;
    text-indent: 1em;
    font-size: 14px;
    font-weight: 700;
    background-color: $primary-color;
    > h3 {
      margin: 0;
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      width: 85%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    > span {
      float: right;
      right: 25px;
      color: #fff;
      padding: 10px;
      cursor: pointer;
    }
  }

  .dialog-body {
    border: 1px solid #ccc;
    .control {
      width: 100%;
      position: relative;
      height: 75px;
      .head-control {
        float: left;
        padding: 8px;
        width: 25%;
        height: 100%;
        > span {
          cursor: pointer;
          padding: 5px;
          background-color: $primary-color;
          color: #fff;
          font-size: 1.4em;
          border-radius: .8em;
        }
        .play-pause {
          font-size: 2em;
          border-radius: 2em;
        }

        .volume {
          height: 30px;
          line-height: 30px;
          > span {
            width: 20%;
            cursor: pointer;
          }
          .progress {
            cursor: pointer;
            width: 70%;
            height: 8px;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
          }
        }
      }
      .progress-area {
        float: left;
        margin: 0;
        width: 55%;
        height: 100%;
        > h3 {
          height: 30px;
          margin: 8px 0;
        }
        .progress {
          cursor: pointer;
          height: .9em;
          position: relative;
          margin: 0;
          .progress-play {
            position: absolute;
            z-index: 1;
          }
          .progress-loading {
            position: absolute;
            background-color: #ddd;
          }
        }

        span {
          font-size: .6em;
          vertical-align: top;
        }
      }
      .play-mode {
        width: 20%;
        height: 100%;
        float: left;
        padding-top: 45px;
      }
    }
    .title {
      text-align: center;
    }
    .content {
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      height: 180px;
      width: 100%;
      .audio-list {
        overflow: auto;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: #fff;
        .list-group-item {
          cursor: pointer;
        }
      }
    }
  }

  .ky-audio-min-container {
    display: none;
    width: 300px;
    height: 40px;
    line-height: 40px;
    top: auto;
    bottom: 0px;
    left: 60px;
    right: auto;
    position: fixed;
    background-color: $primary-color;
    > h3 {
      display: inline-block;
      width: 80%;
      color: #fff;
      margin: 0;
      vertical-align: middle;
    }
    > span {
      float: right;
      right: 30px;
      color: #fff;
      padding: 12px;
      cursor: pointer;
    }
    .destroy-btn {
      margin: 9px;
    }
  }

  @-webkit-keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  @-moz-keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  @-ms-keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  @-o-keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  @keyframes marquee {
    0% {
      left: 0
    }
    100% {
      left: -100%
    }
  }

  .marquee {
    height: 30px;
    overflow: hidden;
    position: relative;
  }

  .marquee div {
    display: block;
    width: 200%;
    height: 30px;
    white-space: nowrap;
    position: absolute;
    overflow: hidden;

    -webkit-animation: marquee 4s linear infinite;
    -moz-animation: marquee 4s linear infinite;
    -ms-animation: marquee 4s linear infinite;
    -o-animation: marquee 4s linear infinite;
    animation: marquee 4s linear infinite;
  }
}
